# Ignore node modules folder
node_modules/

# Ignore package-lock
package-lock.json

# Ignore DB file
dbcon.js

# Ignore email config file
emailcon.js

# Ignore signature file
public/signatures/

# Ignore award pdfs
awards/

